{% extends "base.html" %}
{% block title %}Home - MovieWebApp{% endblock %}

{% block content %}
<div class="text-4xl font-semibold text-center p-4 text-gray-300">
<h1>Welcome to your MoviWeb App</h1>
</div>
<div  class="max-w-full">
    <video autoplay muted loop>
        <source src="{{ url_for('static', filename='images/couple.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<h2 class="text-2xl font-semibold text-center mt-12 text-gray-300">
    Your cinematic experience starts right here
</h2>
{% endblock %}
